{% extends 'partials/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title m-0">Employees</h5>
                <a href="{% url 'core:add-employee' %}" class="btn btn-primary"><i class="bi bi-plus me-1"></i>Add employee</a>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Job Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <th scope="row">{{employee.pk}}</th>
                            <td>
                                <a href="{% url 'core:employee-detail' pk=employee.pk %}">
                                    {{employee.name}}
                                </a>
                            </td>
                            <td>{{employee.code}}</td>
                            <td>{{employee.job_title}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No employees to show.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <ul class="pagination justify-content-center mt-3">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
            </li>
            {% endif %}
            {% for page_number in page_obj.paginator.page_range %}
            {% if page_obj.number == page_number %}
            <li class="page-item disabled">
                <a class="page-link">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
            </li>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}